.header {
  color: red;
  height: 400px;
  background: url(./header.png);
  .title {
    color: white;
    padding-top: 130px;
    text-align: center;
    font-size: 48px;
  }
}
:global {
  @keyframes move_forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
}

.preview_overlay {
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  top: -100px;
  z-index: 2;
  .preview_waves {
    position: relative;
    width: 100%;
    height: 0vh;
    margin-bottom: -8px;
    min-height: 100px;
    max-height: 150px;
    .preview_parallax {
      & > use {
        :global {
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5)
            infinite;
        }

        &:nth-child(1) {
          animation-delay: -2s;
          animation-duration: 7s;
        }
        &:nth-child(2) {
          animation-delay: -3s;
          animation-duration: 10s;
        }
        &:nth-child(3) {
          animation-delay: -4s;
          animation-duration: 13s;
        }
        &:nth-child(4) {
          animation-delay: -5s;
          animation-duration: 20s;
        }
      }
    }
  }
}

// @media (max-width: 768px) {
//   .preview_overlay .preview_waves {
//     height: 40px;
//     min-height: 40px;
//   }
// }
