.article {
  .layout {
    display: flex;
    justify-content: space-between;
    > .left {
      flex: 1;
    }
    > .right {
      margin-left: 24px;

      width: 200px;

      .contents {
        border-left: 1px solid #ccc;
        padding-left: 24px;
        position: sticky;
        top: 70px;
        li {
          padding-left: 12px;
        }
        a {
          color: #666;
          &:hover {
            color: black;
          }
        }
      }
    }
  }
  .info {
    display: flex;
    margin-bottom: 16px;
    > li {
      margin-right: 8px;
      > span {
        margin-right: 4px;
      }
    }
  }
}
