.article {
  .layout {
    display: flex;
    justify-content: space-between;
    > .left {
      flex: 1;
    }
    > .right {
      margin-left: 24px;
      width: 200px;
    }
  }
  .info {
    display: flex;
    margin-bottom: 16px;
    > li {
      margin-right: 8px;
      > span {
        margin-right: 4px;
      }
    }
  }
}
